.DS_Store
.Vagrantfile.swp
thumbs.db
node_modules
.vagrant/
.idea
.tmp
.env
.next
*.log

# WordPress related files
wordpress/public/readme.html
wordpress/public/wp-content/advanced-cache.php
wordpress/public/wp-config.php
wordpress/public/wp-content/cache/
wordpress/public/wp-content/upgrade/
wordpress/public/wp-content/uploads/

# prevent webpack output from being committed
wordpress/public/wp-content/themes/petertenhoor/dist/