ul {
  list-style: none;
  padding: 0;
  li {
    padding-left: 33px;
    margin-top: 0;
    position: relative;
    &:before {
      position: absolute;
      background-color: #000;
      content: '';
      display: inline-block;
      height: 2px;
      top: 15px;
      vertical-align: top;
      width: 15px;
      left: 0;
    }
  }
}

ol {
  list-style: none;
  counter-reset: item;
  padding: 0;
  li {
    margin-top: 0;
    position: relative;
    &:before {
      padding-right: 15px;
      line-height: 1;
      margin-top: -2px;
      margin-left: -2px;
      content: counter(item) ". ";
      counter-increment: item;
      color: #000;
    }
  }
}