h1 {
  color: #000;
  font-size: 46px;
  line-height: 54px;
  margin: 1.3em 0 .7em 0;
  @extend %fjalla-one;
  &:first-of-type {
    margin-top: 0;
  }
}

h2 {
  color: #000;
  font-size: 36px;
  line-height: 44px;
  margin: 1em 0 .7em 0;
  @extend %fjalla-one;
  &:first-of-type {
    margin-top: 0;
  }
}

h3 {
  color: #000;
  font-size: 30px;
  line-height: 36px;
  margin: 0.8em 0 .5em 0;
  @extend %fjalla-one;
  &:first-of-type {
  margin-top: 0;
}
}
h4 {
  color: #000;
  font-size: 24px;
  line-height: 30px;
  margin: 0.8em 0 .5em 0;
  @extend %fjalla-one;
  &:first-of-type {
    margin-top: 0;
  }
}
h5 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  margin: 0.8em 0 .5em 0;
  @extend %fjalla-one;
  &:first-of-type {
    margin-top: 0;
  }
}
h6 {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  margin: 0.8em 0 .5em 0;
  @extend %fjalla-one;
  &:first-of-type {
    margin-top: 0;
  }
}